<footer>
  <small class="center">
    <a href="{{ "/contact" | relative_url }}" rel="noopener" class="icon-link">
      <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://github.com/JensKnipper" rel="noopener" class="icon-link">
      <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://www.xing.com/profile/Jens_Knipper" rel="noopener" class="icon-link">
      <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-xing fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://www.linkedin.com/in/jens-k-87b4a717b/" rel="noopener" class="icon-link">
      <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </small>
  <small class="center" style="margin-top: 20px;">
    <a href="{{ "/legal" | relative_url }}">
      Legal Notice
    </a>
     - 
    <a href="{{ "/privacy" | relative_url }}">
      Privacy Policy
    </a>
  </small>
</footer>
