.icon-img {
	display: inline; 
	max-width: 1.6em; 
	max-height: 1.6em; 
	margin-right: 0.6em; 
    vertical-align: middle;
    filter: invert(1);
}

.icon-link {
	border: none;
}

.center {
    margin: 0 auto;
}